;; shadow-cljs configuration
{:source-paths
 ["artifacts"
  "src/dev"
  "src/main"
  "src/stories"
  "src/test"]

 :dependencies
 [[reagent "1.1.1"]
  [com.hyperfiddle/rcf "20220405"]
  ]

 :dev-http
 {8080 "public"}
 :builds
 {:jhnn {:target :browser
         :closure-defines {rv.hf-token #shadow/env "HF_TOKEN"
                           rv.rv-addr #shadow/env "RV_TOKEN"}
         :modules {:main {:init-fn rv/init}}}

  :stories {:target     :npm-module
            :ns-regexp  "-stories$"
            :output-dir "public/js/stories"}
  }}


;; npx shadow-cljs watch jhnn

;; starknet-compile --cairo_path '/home/jhnn/internet-computers/starknet/jhnn_client/src/' --disable_hint_validation ./src/contracts/response.cairo --output artifacts/abis/response.json
